/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */
.App {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}

/* Header */

.header{ 
    background-color: #8D7B68;
    padding-left: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo {
    font-size: 60px;
    font-weight: 600;
    color: #F1DEC9;
}

/* main */
.main-content {
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

@media screen and (max-width: 1500px) {
        .main-content{
            flex-direction: column;
            align-items: center;
        }
    }

/* CVForm */

.cv-form {
    background-color: #C8B6A6;
    /* width: 800px; */
    width: 200mm;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(149, 157, 165, 0.726) 0px 8px 24px;
}

/* Sub forms */
.subform {
    display: flex;
    flex-direction: column;
}

.subform input {
    padding: 5px;
}

.subform input, .subform textarea{
    margin-top: 10px;
    font-size: 16px;
    border: inherit;
    border-radius: 5px;
}

.subform textarea {
    height: 100px;
    resize: none;
}


.subform .title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 0%;
}

input[type='date'] {
    margin-top: 5px;
    max-width: 25%;
}

input[type='file'] {
    display: none;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.upload-icon {
    width: 25px;
    margin-left: 10px;
}





label {
    margin-top: 10px;
}

.delete {
    margin-top: 15px;
}

.button {
    margin-top: 10px;
    padding: 8px;
    font-size: 18px;
    border: inherit;
    border-radius: 8px;
    cursor: pointer;
    color: #F1DEC9;
    background-color:#8D7B68;
}

.exportPDF-wrapper {
    display: flex;
    justify-content: center;
}

.exportPDF {
   background-color: rgb(148, 5, 5);
   font-weight: 700;
}

/* CV Preview */
.cv-preview {
    position: sticky;
    top: 0;
    /* align-self: flex-start; */
    background-color: #f3f1f1;
    width: 210mm;
    height: 297mm;
    overflow-y: hidden;
    box-shadow: rgba(149, 157, 165, 0.726) 0px 8px 24px;
}


.preview-main-content {
    display: flex;
    height:100%;
}

.preview-main-content-right {
    padding: 15px;
}

.preview-subtitle {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 600;
    color: #80705f;
} 

.preview-description-text {
    font-style: italic;
    line-height: 130%;
    overflow-wrap: break-word;
}

/* CV Preview Header */
.preview-header {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #C8B6A6;
}

.preview-name {
    font-size: 46px;
    font-weight: 700;
}

.preview-title {
    margin-top: 10px;
    font-size: 22px;
}

/* CV Preview Side bar */

.preview-sideBar {
    background-color: #e4e4e4;
    width: fit-content;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.photo {
    width: 200px;
}

.presonalDetailsPreview-title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #80705f;
}

.presonalDetailsPreview p{
    margin-top: 8px;
}

/* CV Preview Experience */

.preview-expeience-content {
    display: flex;
    margin-top: 20px;
}

.timespan {
    display: flex;
    font-size: 16px;
    font-weight: 700;
}

.timespan .from{
    margin-right: 5px;
}

.timespan .to{
    margin-left: 5px;
}

.place-of-occupation {
    margin-left: 20px;
    font-size: 16px;
}

.place-of-occupation-top {
    font-weight: 700;
}

.place-of-occupation-bottom {
    margin-top: 10px;
    font-size: 16px;
}

/* CV Preview Education */

.preview-education-content {
    display: flex;
    margin-top: 20px;
}